/* FONT FAMILY ********************************/
@font-face{font-family:'Vaulto-ExtraBold';src:url(../fonts/Vaulto-ExtraBold.woff2) format("woff2"),url(../fonts/Vaulto-ExtraBold.woff) format("woff");font-weight:400;font-style:normal;font-display:swap}
.font-vaulto{font-family:'Vaulto-ExtraBold';font-weight:400;font-style:normal}

/* GENERALI ***************************/
*,:before,:after{box-sizing:border-box}
html {scroll-behavior: smooth}
body{margin:0;padding:0}

/* PALETTE ****************************/
:root {
    --primary: #355872;
    --primaryLight: #7AAACE;
    --secondary: #9CD5FF;
    --secondaryLight: #ddf1ff;
    --third: #43b0ef;
    --thirdLight: #fca3ce;
    --headerColor: #1a1a1a;
    --bodyTextColor: #4e4b66;
    --bodyTextColorWhite: #F7F8F0;
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    --headerFontSize: clamp(1.5375rem, 7.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
}

/* TITOLI ****************************/
p{font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;letter-spacing:1px}
.cs-topper{font-size:var(--topperFontSize);font-family:sans-serif;line-height:1.2em;text-transform:uppercase;letter-spacing:.1em;font-weight:900;color:var(--third);margin-bottom:.25rem;display:block}
.cs-title{font-family:'Vaulto-ExtraBold';font-size:var(--headerFontSize);font-weight:900;line-height:1.2em;max-width:43.75rem;margin:0 0 1rem;color:var(--headerColor)}
.cs-text{font-size:var(--bodyFontSize);line-height:1.5em;max-width:40.625rem;color:var(--bodyTextColor)}
.primarylight{color:var(--primaryLight)!important;font-weight:700}
.gradient{background:linear-gradient(160deg,#6eb7cb,#65aabd,#4b82a6);-webkit-background-clip:text;-webkit-text-fill-color:transparent;font-weight:700}

/* BTN ********************************/
.btn-main {font-size: .8rem;font-family: Arial, Helvetica, sans-serif;letter-spacing: 10px;text-transform: uppercase;
    line-height: clamp(2.875em, 5.5vw, 3.5em);text-decoration: none;font-weight: 400;text-align: center;margin: 0;color: #fff;
    border: none;max-width: 22.375rem;width: 100%;padding: 0 1.5rem;background: linear-gradient(160deg, #6eb7cb, #65aabd, #3f7295);background-size: 100% 100%;
    border-radius: .4rem;overflow: hidden;display: inline-block;position: relative;z-index: 1;box-sizing: border-box;transition-duration: 0.6s;cursor: pointer;
    margin-bottom: 20px;background-position: 100% 50%;box-shadow: 0 4px 12px rgba(75, 130, 166, 0.15);}
.btn-main.variante {background: linear-gradient(160deg, #8fd3e0, #7bc0d1, #5c9bb5);background-size: 300% 300%;}
@media only screen and (min-width: 64rem) {.btn-main:hover {letter-spacing: 10.7px;}}
.cta-phone {width: 100%;max-width: 22.375rem;font-size: 1rem;line-height: 1.5em;text-decoration: none;margin: 0;color: var(--headerColor);
    display: flex;justify-content: center;align-items: center;gap: 0.5rem;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;letter-spacing: 3px;
    text-align: center;}
.cta-phone img {width: 1.5rem;height: auto;display: block;}
/* BTN - mobile */
.btn-main.d-flex{justify-content: center;align-items: center;gap: 10px;}

/* UTILI ******************************/
.d-none{display:none!important}
.d-block{display:inline-block!important}
.d-flex{display:flex!important}
@media only screen and (min-width: 64rem) {
.d-lg-none{display:none!important}
.d-lg-block{display:inline-block!important}
.d-lg-flex{display:flex!important}
}

/* MODAL *****************************/
/* MODAL - container */
.modal{display:flex;position:fixed;z-index:1000;left:0;top:0;width:100%;height:100%;background-color:#00000080;justify-content:center;
    align-items:center;opacity:0;visibility:hidden;transition:opacity .3s ease}
.modal.show{opacity:1;visibility:visible}
.modal-content{background:#fff;padding:45px;border-radius:10px;width:500px;position:relative;box-shadow:0 5px 20px #0003;
    transform:scale(0.7);transition:transform .3s ease}
.modal.show .modal-content{transform:scale(1)}
/* MODAL - componenti */
.modal .close{background: linear-gradient(160deg, #8fd3e0, #7bc0d1, #5c9bb5);background-size: 300% 300%;;padding: 5px;border-radius: 50%;
    padding-inline: 19px;color: white;font-size: 50px;cursor: pointer;position: absolute;top: -20px;right: -20px;}
.modal .modal-title{font-family:'Vaulto-ExtraBold';font-size:clamp(1.5375rem, 7.9vw, 2.0625rem);;font-weight:900;line-height:1.2em;max-width:43.75rem;
    margin:0 0 1rem;color:var(--headerColor);text-transform: uppercase;margin-bottom: 30px;}
.modal .contact-item{padding-bottom:15px;}
.modal a{display: flex;align-items: center;justify-content: start;gap: 10px;color: #3f7295;font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;
    letter-spacing:1px;font-size: 1.1rem;}
